@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

/***** COLOURS *****/
:root {
    --red: #D9140C;
    --orange: #FC8821;
    --yellow: #FAD500;
    --green: #88C742;
    --blue: #29ABE9;
    --bg-gradient: linear-gradient(
        45deg, 
        var(--red), 
        var(--orange),
        var(--yellow), 
        var(--green), 
        var(--blue));
}

.red {
  background-color: var(--red);
}

.orange {
  background-color: var(--orange);
}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--blue);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Salsa", cursive;
    box-sizing: border-box;
    background-image: var(--bg-gradient);
    background-repeat: no-repeat;
    text-align: center;
}

.jumbotron {
    padding: .5rem;
    margin: 2rem 0rem 1rem;
    background-color: whitesmoke;
    display: inline-block;
    opacity: 0.6;
}

.hidden {
    display: none;
}

/* Credit for background gradient and animation - Kevin Powell 
   (https://www.youtube.com/watch?v=f3mwKLXpOLk&t=670s&ab_channel=KevinPowell)
*/
.title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-image: var(--bg-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.tagline {
    color: #212529;
}

.icon {
    font-size: 600%;
    text-decoration: none;
    color: var(--red);
}

.icon:hover{
    color: darkred;
}

/***** COLOUR PICKER *****/
.colour-picker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.colour {
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    margin: .4rem;
    border: 1px solid black;
}

.clicked-color {
  border: 5px solid black;
}

/***** GAME GRID AREA *****/
#grid-area {
    margin-top: 3rem;
}

.row {
  justify-content: center;
}

.cell {
  min-width: 80px;
  max-width: 80px;
  min-height: 80px;
  max-height: 80px;
  border: 1px solid black;
  background-color: lightgrey;
}

.add-X:before {
  content: "X";
  font-size: 2rem;
  vertical-align: -75%;
  padding: 2rem;
}

/***** BUTTONS *****/
.button {
  border-radius: 1rem;
  cursor: pointer;
  color: #e7e7e7;
  font-size: 1.25rem;
  padding: 1em 2em;
  text-decoration: none;
  margin: 0.75rem;
}

.button:hover {
  text-decoration: none;
  color: lightgray;
}

.button-dark-green {
    background: linear-gradient(to bottom, #01a001 5%, #36bf2a 100%);
    background-color: #01a001;
    border: 1px solid #30ab18;
    text-shadow: 0px 1px 0px #27663a;
}

.button-green {
    background: linear-gradient(to bottom, var(--green) 5%, #5cbf2a 100%);
    background-color: var(--green);
    border: 1px solid #18ab29;
    text-shadow: 0px 1px 0px #2f6627;
}

.button-orange {
    background: linear-gradient(to bottom, var(--orange) 5%, #df6502 100%);
    background-color: var(--orange);
    border: 1px solid #da8402;
    text-shadow: 0px 1px 0px #c06f05;
}

.button-red {
    background: linear-gradient(to bottom, var(--red) 5%, #f24437 100%);
    background-color: var(--red);
    border: 1px solid #d02718;
    text-shadow: 0px 1px 0px #810e05;
}

.button-dark-green:hover {
  background: linear-gradient(to bottom, #2abf3e 15%, #44c78a 100%);
  background-color: #2fbf2a;
}

.button-green:hover {
  background: linear-gradient(to bottom, #5cbf2a 15%, #44c767 100%);
  background-color: #5cbf2a;
}

.button-orange:hover {
  background: linear-gradient(to bottom, #f27c37 15%, #c6831f 100%);
  background-color: #f26337;
}

.button-red:hover {
  background: linear-gradient(to bottom, #f24437 15%, #c62d1f 100%);
  background-color: #f24437;
}

.button-small {
    padding: 0.75rem 1.5rem;
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:2rem;
}

/***** TEXT ANIMATION *****/
/* Credit for text animation - Tobias Ahlin
   (https://tobiasahlin.com/moving-letters/#9)
*/
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 2em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

/***** MESSAGE AREA *****/
.message-area {
    font-size: 2rem;
}

.showScore {
    font-size: 3rem;
}

.timer {
     font-size: 3rem;
}

/***** INSTRUCTIONS MODAL *****/
.large-text {
    font-size: 2rem;
}

.medium-text {
    font-size: 1.2rem;
}

.bullet {
    font-weight: 600;
    font-style: italic;
}

.green-text {
    color: var(--green);
}

.orange-text {
    color: var(--orange);
}

.red-text {
    color: var(--red);
}

/***** MEDIA QUERIES *****/
@media (max-width: 768px) {
    .colour-picker {
        flex-direction: row;
        margin-top: 2rem;
    }

    .cell {
        min-width: 60px;
        max-width: 60px;
        min-height: 60px;
        max-height: 60px;
    }

    .button {
        padding: .75em 1.5em;
    }

    .back-button {
        display: none;
    }
}

@media (max-width: 576px) {
    .colour {
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        max-height: 40px; 
    }
    
    .button {
        font-size: 90%;
    }

    .back-button {
        display: none;
    }

    footer {
        display: none;
    }
}

@media (min-width: 768px) {
    .hidden-button {
        display: none;
    }
}

.back-button {
   position: fixed;
   top: 40%;
}

.hidden-button {
    margin-top: 4rem;
    font-size: 50%;
}

.high-score {
    font-size: 2.5rem;
    text-transform: uppercase;
}
