@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

:root {
    --red: #D9140C;
    --orange: #FC8821;
    --yellow: #FAD500;
    --green: #88C742;
    --blue: #29ABE9;
    --bg-gradient: linear-gradient(
        45deg, 
        var(--red), 
        var(--orange),
        var(--yellow), 
        var(--green), 
        var(--blue));
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Salsa", cursive;
    box-sizing: border-box;
    background-image: var(--bg-gradient);
    text-align: center;
}

.jumbotron {
    padding: .5rem;
    margin: 1rem 0rem;
    background-color: whitesmoke;
    display: inline-block;
}

.title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    background-image: var(--bg-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}




