@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

/***** COLOURS *****/
:root {
    --red: #D9140C;
    --orange: #FC8821;
    --yellow: #FAD500;
    --green: #88C742;
    --blue: #29ABE9;
    --bg-gradient: linear-gradient(
        45deg, 
        var(--red), 
        var(--orange),
        var(--yellow), 
        var(--green), 
        var(--blue));
}

.red {
  background-color: var(--red);
}

.orange {
  background-color: var(--orange);
}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--blue);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Salsa", cursive;
    box-sizing: border-box;
    background-image: var(--bg-gradient);
    background-repeat: no-repeat;
    text-align: center;
}

.jumbotron {
    padding: .5rem;
    margin: 2rem 0rem 1rem;
    background-color: whitesmoke;
    display: inline-block;
    opacity: 0.6;
}

/* Credit for background gradient and animation - Kevin Powell 
   (https://www.youtube.com/watch?v=f3mwKLXpOLk&t=670s&ab_channel=KevinPowell)
*/
.title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-image: var(--bg-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.tagline {
    font-weight: 600;
    letter-spacing: 1px;
}

/***** COLOUR PICKER *****/
.colour-picker {
    display: flex;
    justify-content: center;
    margin: 0rem auto;
    background-color: whitesmoke;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    max-width: 450px;
}

.colour {
    min-width: 40px;
    min-height: 40px;
    margin: .4rem;
    border: 1px solid black;
}




